<a href="https://colab.research.google.com/github/khusanovich/Data_science_and_AI/blob/main/2_2_2_DataFrame_repetition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
from pandas import DataFrame as df

In [6]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
doo = df(data)

In [7]:
doo

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [10]:
doo = df(data, columns=['Yil', 'Tempo', 'Aholi soni', 'Temp'])

In [11]:
doo

    Yil Tempo  Aholi soni  Temp
0  2021   NaN        33.9  1.54
1  2020   NaN        33.5  1.48
2  2019   NaN        32.9  1.56
3  2018   NaN        32.5  1.62
4  2017   NaN        31.9  1.65
5  2016   NaN        31.4  1.66
6  2015   NaN        30.9  1.64
7  2010   NaN        28.5  1.53

Huddi `Series` kabi `DataFrame` indekslariga ham o'zimiz qiymat berishimiz mumkin:

In [14]:
doo = df(data, columns=['Yil','Temp','Aholi soni','YAIM'], index=[21, 20, 19, 18, 17, 16, 15, 10])

In [15]:
doo

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN
16  2016  1.66        31.4  NaN
15  2015  1.64        30.9  NaN
10  2010  1.53        28.5  NaN

`DataFrame`ning istalgan ustunini `Series` ko'rinishida ajratib olishimiz mumkin. Buning ikki usuli bor:
1. Ustun nomi attribut sifatida

In [17]:
# 1-Usul faqatgina ustun nomi bir so'zdan iborat, Python o'zgaruvchi talablariga javob bergan holda ishlaydi. 
# Ahamiyat bering, ajratib olingan ustunlar indeksi va ustun nomi saqlanib qoladi
# 
doo.Yil

21    2021
20    2020
19    2019
18    2018
17    2017
16    2016
15    2015
10    2010
Name: Yil, dtype: int64

2. Lug'at kabi ajratish

In [18]:
doo['Yil']

21    2021
20    2020
19    2019
18    2018
17    2017
16    2016
15    2015
10    2010
Name: Yil, dtype: int64

Yuqoridagi usul bilan biz ustundagi barcha elementlarga qiymat berishimiz mumkin:

In [20]:
doo.YAIM = 2000

In [21]:
doo

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  2000
20  2020  1.48        33.5  2000
19  2019  1.56        32.9  2000
18  2018  1.62        32.5  2000
17  2017  1.65        31.9  2000
16  2016  1.66        31.4  2000
15  2015  1.64        30.9  2000
10  2010  1.53        28.5  2000

`Series` yordamida biror ustunning ma'lum bir qatorlariga o'zgartirish kiritish mumkin. Bunda qatorlarning indeksi berilishi shart.

In [22]:
voo = pd.Series([0, 0, -2], index=[10,15,16])
voo

10    0
15    0
16   -2
dtype: int64

In [23]:
doo.YAIM = voo

In [24]:
doo

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9   NaN
20  2020  1.48        33.5   NaN
19  2019  1.56        32.9   NaN
18  2018  1.62        32.5   NaN
17  2017  1.65        31.9   NaN
16  2016  1.66        31.4  -2.0
15  2015  1.64        30.9   0.0
10  2010  1.53        28.5   0.0

Shuningdek ustun qiymatlarini o'zgartirish uchun shu ustun qatorlari soniga teng ro'yxatdan foydalanishimiz mumkin.

In [25]:
YAIM = [1700, 1670, 1600, 1590, 1400, 1300, 1350, 1360]

In [27]:
doo.YAIM = YAIM

In [28]:
doo

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1670
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360

Agar qiymat berishda mavjud bo'lmagan ustun nomi yozilsa, `DataFrame`ga yangi ustun qo'shiladi (bu faqat lug'at ko'rinishda yozishga xos). 

Quyidagi misolda biz avval yangi `1500+` degan ustun yaratdik keyin esa bu ustun qiymatlarini `df.YAIM>1500` sharti yordamida to'ldridik (ya'ni yalpi ichki mahsluot `1500` dan katta bo'lsa `True` aks holda 'False`.

In [29]:
doo['Ijobiy'] = doo.YAIM>1500

In [30]:
doo

     Yil  Temp  Aholi soni  YAIM  Ijobiy
21  2021  1.54        33.9  1700    True
20  2020  1.48        33.5  1670    True
19  2019  1.56        32.9  1600    True
18  2018  1.62        32.5  1590    True
17  2017  1.65        31.9  1400   False
16  2016  1.66        31.4  1300   False
15  2015  1.64        30.9  1350   False
10  2010  1.53        28.5  1360   False

In [31]:
del doo['Ijobiy']

In [32]:
doo

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1670
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360

In [34]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8},
    'England':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Germany':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}

In [35]:
doo1 = df(data)

In [36]:
doo1

      Uzbekistan  Kazakhstan  England  Germany
2021        33.9        18.9     33.9     18.9
2020        33.5        18.7     33.5     18.7
2019        32.9        18.5     32.9     18.5
2018        32.5        18.3     32.5     18.3
2017        31.9        18.1     31.9     18.1
2016         NaN        17.8      NaN     17.8

In [38]:
doo1.index.name = 'Year'

In [39]:
doo1

      Uzbekistan  Kazakhstan  England  Germany
Year
2021        33.9        18.9     33.9     18.9
2020        33.5        18.7     33.5     18.7
2019        32.9        18.5     32.9     18.5
2018        32.5        18.3     32.5     18.3
2017        31.9        18.1     31.9     18.1
2016         NaN        17.8      NaN     17.8

In [40]:
doo1 = df(data, index=[2021, 2020, 2019])

In [41]:
doo1

      Uzbekistan  Kazakhstan  England  Germany
2021        33.9        18.9     33.9     18.9
2020        33.5        18.7     33.5     18.7
2019        32.9        18.5     32.9     18.5

Indekslar va Ustunlar o'rnini almashtirish uchun `.T` (transpose) metodidan foydalanish mumkin.

In [42]:
doo1.T

            2021  2020  2019
Uzbekistan  33.9  33.5  32.9
Kazakhstan  18.9  18.7  18.5
England     33.9  33.5  32.9
Germany     18.9  18.7  18.5

`.values` parametri yordamida `DataFrame` ichidagi qiymatlarni 2-o'lchamli massiv ko'rinishida olishimiz mumkin.

In [43]:
doo1.values

array([[33.9, 18.9, 33.9, 18.9],
       [33.5, 18.7, 33.5, 18.7],
       [32.9, 18.5, 32.9, 18.5]])

## `Index` obyekti

`Series` va `DataFrame` indeklasri ham maxsus Index obyekti hisoblanadi.

In [45]:
doo

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1670
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360

In [47]:
indekslar = doo.index

In [48]:
indekslar

Int64Index([21, 20, 19, 18, 17, 16, 15, 10], dtype='int64')

In [49]:
indekslar[3]

18

In [50]:
indekslar[-4]

17

In [51]:
indekslar[3:6]

Int64Index([18, 17, 16], dtype='int64')

`Index` obyektining qiymatlarini o'zgartirib bo'lmaydi

In [52]:
indekslar[3] = 304

TypeError: ignored

Buning afzalligi esa bir hil indeskli turli obyketlar (`DataFrame`lar) bilan ishlashni osonlashtiradi.

Tasavvur qiling sizda turli yillar uchun turli ma'lumotlar turli jadvallarda (`DataFrame`larda) saqlanadi. Bu jadvallari o'zaro bog'lab turgna qiymat bu yillar. Agar yillardan indeks sifatida foydalansangiz, indesklar o'zgarmas bo'lishi hisobiga jadvallar o'rtasidagi bog'liqlik ham mustahkam bo'ladi.

In [55]:
data1 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8},
    'England':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Germany':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
doo = df(data1)

In [56]:
doo

      Uzbekistan  Kazakhstan  England  Germany
2021        33.9        18.9     33.9     18.9
2020        33.5        18.7     33.5     18.7
2019        32.9        18.5     32.9     18.5
2018        32.5        18.3     32.5     18.3
2017        31.9        18.1     31.9     18.1
2016         NaN        17.8      NaN     17.8

In [57]:
doo.columns

Index(['Uzbekistan', 'Kazakhstan', 'England', 'Germany'], dtype='object')

In [58]:
'Tajikistan' in doo.columns

False

In [59]:
2021 in doo.index

True

Python ro'yxatlaridan farqli ravishda `Index` takrorlanuvchi qiymatlar ega bo'lishi mumkin:

In [68]:
usernames = {"anvar":"anvarbek223", "olim":"olimtoy", "maryam":"mary334455","javohir":"javohir445"}
emails = {"anvar":"anvar@gmail.com", "olim":"olim@mail.ru", "maryam":"mary33@gmail.com","javohir":"javohir445@gmail.com"}

data = {
    'username':usernames,
    'email':emails
}
doo3 = pd.DataFrame(data)

In [69]:
doo3

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [70]:
data2 = {
    'username':{"olim":"olimjon21", "maryam":"maryam2020"},
    'email':{"olim":"olimjon21@mail.ru", "maryam":"maryam20@gmail.com"}
}

In [74]:
doo2 = df.append(pd.DataFrame(data2))

In [75]:
doo2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [76]:
doo2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

### Bazi `Index` metodlar va parametrlar

In [79]:
new_ind = pd.Index(['olim','nafisa', 'hamida'])

In [80]:
new_ind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [81]:
# **Indeks boshqa indeks tarkbidia ekanini tekshirish**

new_ind.isin(doo2.index)

array([ True, False, False])

In [83]:
doo2.index.difference(new_ind)

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [85]:
new_ind.difference(doo2)

Index(['hamida', 'nafisa', 'olim'], dtype='object')

In [90]:
# **Ikki indeks to'plami**
doo2.index.union(new_ind)

Index(['anvar', 'hamida', 'javohir', 'maryam', 'maryam', 'nafisa', 'olim',
       'olim'],
      dtype='object')

In [93]:
doo2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [94]:
doo2.index.delete(0)

Index(['olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [98]:
doo2.drop('olim')

            username                 email
anvar    anvarbek223       anvar@gmail.com
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
maryam    maryam2020    maryam20@gmail.com

In [100]:
doo2.index.drop('anvar')

InvalidIndexError: ignored

In [101]:
doo2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [103]:
doo2.index.insert(5, 'misha') # 5- o'ringa 'misha' ni qo'shdik

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'misha', 'maryam'], dtype='object')

In [105]:
# `.is_monotonic` va `.is_unique`
doo2.index.is_monotonic

False

In [106]:
doo2.index.is_unique

False

In [107]:
new_ind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [108]:
new_ind.is_unique

True

In [112]:
doo2.index.unique()

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')