<a href="https://colab.research.google.com/github/khusanovich/Data_science_and_AI/blob/main/2_2_2_df_series_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [6]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       'Temp':[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
       'Zichlik':[79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71, 67.03]}

In [7]:
df = pd.DataFrame(data)

In [8]:
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.34
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [9]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [10]:
df.index = [21, 20, 19, 18, 17, 16, 15, 10]
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

## `.reindex()` indekslar o'rnini almashtirish

In [ ]:
df.reindex([10,15,20])

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
20  2020        33.5  1.48    78.68

`.reindex` yordamida yangi indekslar qo'shish va ularni turli usullar (method) yordamida to'ldirish ham mumkin

In [ ]:
df.reindex(index=range(10,22), method='nearest')

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
11  2010        28.5  1.53    67.03
12  2010        28.5  1.53    67.03
13  2015        30.9  1.64    72.71
14  2015        30.9  1.64    72.71
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

Nafaqat indekslarni balki ustunlarni ham qayta indekslash mumkin

In [ ]:
df.reindex(columns=['Aholi soni', 'Temp'])

    Aholi soni  Temp
21        33.9  1.54
20        33.5  1.48
19        32.9  1.56
18        32.5  1.62
17        31.9  1.65
16        31.4  1.66
15        30.9  1.64
10        28.5  1.53

In [11]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

### `.loc` yordamida indekslash

In [ ]:
df.loc[[10,15,20], ['Aholi soni', 'Temp']]

    Aholi soni  Temp
10        28.5  1.53
15        30.9  1.64
20        33.5  1.48

## `DataFrame`dan elementlarni o'chirish. `.drop()`

Dataframedan biror qator yoki ustunni o'chirish uchun qator (ustun) indeksini bilish kifoya.

In [12]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

In [13]:
df_new = df.drop(10)

In [14]:
df_new

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71

In [17]:
df.drop([10,15])  # 15 va 20 qatorlarini tashlab yuboramiz

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91

`.drop()` yordamida nafaqat qatorlarni, balki ustunlarni ham o'chirish mumkin. Buning `.drop()` metodining `axis` parametri ishlatiladi.

In [18]:
df.drop('Temp', axis=1)

     Yil  Aholi soni  Zichlik
21  2021        33.9    79.77
20  2020        33.5    78.68
19  2019        32.9    77.53
18  2018        32.5    76.34
17  2017        31.9    75.13
16  2016        31.4    73.91
15  2015        30.9    72.71
10  2010        28.5    67.03

In [20]:
df.drop('Temp', axis='columns') # bu ham yuqoridagi natijani beradi

     Yil  Aholi soni  Zichlik
21  2021        33.9    79.77
20  2020        33.5    78.68
19  2019        32.9    77.53
18  2018        32.5    76.34
17  2017        31.9    75.13
16  2016        31.4    73.91
15  2015        30.9    72.71
10  2010        28.5    67.03

Yana bir bor eslatamiz, metodlar asl `DataFrame`ni o'zgartirmaydi.

In [21]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

In [22]:
df.drop('Yil', axis=1, inplace=True)

In [24]:
df.head() # yil degan ustun yo'qoldi

    Aholi soni  Temp  Zichlik
21        33.9  1.54    79.77
20        33.5  1.48    78.68
19        32.9  1.56    77.53
18        32.5  1.62    76.34
17        31.9  1.65    75.13

### Indekslash, qator (ustun) tanlash, filtrlash

### `Series`

In [26]:
data = df['Aholi soni']

In [27]:
data

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

In [28]:
data[0:2]

21    33.9
20    33.5
Name: Aholi soni, dtype: float64

In [29]:
data[[21]]

21    33.9
Name: Aholi soni, dtype: float64

In [30]:
data[[21, 17, 19]]

21    33.9
17    31.9
19    32.9
Name: Aholi soni, dtype: float64

In [31]:
data[[21, 19, 17]] # ketma ketlik

21    33.9
19    32.9
17    31.9
Name: Aholi soni, dtype: float64

In [34]:
obj = pd.Series(np.arange(8), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']) # 8
obj

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int64

In [35]:
obj = pd.Series(np.arange(8.), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']) # 8.
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [36]:
obj[['b']]

b    1.0
dtype: float64

In [37]:
type(obj[['b']])

pandas.core.series.Series

In [38]:
obj['b']

1.0

In [39]:
obj[0:4]

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [40]:
obj['a':'f']

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [42]:
obj[['a', 'c', 'e']]

a    0.0
c    2.0
e    4.0
dtype: float64

In [44]:
obj[[1,5]]

b    1.0
f    5.0
dtype: float64

In [46]:
obj['a':'d'] = 20

In [47]:
obj

a    20.0
b    20.0
c    20.0
d    20.0
e     4.0
f     5.0
g     6.0
h     7.0
dtype: float64

In [48]:
obj[obj==20]

a    20.0
b    20.0
c    20.0
d    20.0
dtype: float64

In [49]:
obj[obj<20]

e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

### `DataFrame`

In [50]:
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9}
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.6}
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5}
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0}
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6}

df = pd.DataFrame(
    {'Uzbekistan':uz,
     'Kazakhstan':kz,
     'Tajikistan':tj,
     'Kyrgizstan':kg,
     'Turkmenistan':tr
    }
)

In [51]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [52]:
df['Uzbekistan'] # series

2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016    31.4
2015    30.9
Name: Uzbekistan, dtype: float64

In [53]:
df[['Uzbekistan']] # dataframe

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

In [54]:
df[['Uzbekistan', 'Kazakhstan']]

      Uzbekistan  Kazakhstan
2020        33.5        18.8
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016        31.4        17.8
2015        30.9        17.6

In [55]:
df[3:]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [56]:
df>8

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        True        True        True       False         False
2019        True        True        True       False         False
2018        True        True        True       False         False
2017        True        True        True       False         False
2016        True        True        True       False         False
2015        True        True        True       False         False

In [57]:
df[['Uzbekistan']][df['Uzbekistan']>32]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5

In [58]:
df2 = df.transpose(copy=True) # transpose ni esla

In [59]:
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [60]:
df2[df2[2018]>7]

            2020  2019  2018  2017  2016  2015
Uzbekistan  33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan  18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan   9.5   9.3   9.1   8.9   8.7   8.5

In [61]:
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [62]:
df2[df2<8] = 0

In [63]:
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     0.0   0.0   0.0   0.0   0.0   0.0
Turkmenistan   0.0   0.0   0.0   0.0   0.0   0.0

In [64]:
df2[[2020]]

              2020
Uzbekistan    33.5
Kazakhstan    18.8
Tajikistan     9.5
Kyrgizstan     0.0
Turkmenistan   0.0

## `.loc` va `.iloc`
`.loc` yordamida qator va ustunlani ularning nomi bo'yicha tanlash mumkin.

In [67]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [68]:
df.loc[[2015]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2015        30.9        17.6         8.5         6.0           5.6

In [69]:
df.loc[[2016, 2017]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2016        31.4        17.8         8.7         6.1           5.6
2017        31.9        18.1         8.9         6.2           5.8

In [71]:
df.loc[[2020, 2019],['Uzbekistan', 'Turkmenistan']]

      Uzbekistan  Turkmenistan
2020        33.5           6.0
2019        32.9           5.9

`.iloc` yordamida qator va ustunlani ularning tartib raqami bo'yicha tanlash mumkin

In [72]:
df.iloc[[0, 4, 5]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [74]:
df.iloc[[0], [0,2,3]]

      Uzbekistan  Tajikistan  Kyrgizstan
2020        33.5         9.5         6.5

In [77]:
df.loc[:2019, 'Uzbekistan']

2020    33.5
2019    32.9
Name: Uzbekistan, dtype: float64

## Sonli indekslar

`pandas` obyektlariga indeks orqali murojaat qilish biroz mujmal tuyulishi mumkin. Bunga sabab biz o'rganib qolgan list va tuple ma'lumot turlari bilan ishlashdagi farq.

Misol uchun, Pythonda ro'yxatning oxirgi elementini ko'rish uchun -1 indeksi orqali murojaat qilishimiz mumkin:

In [80]:
nums = list(range(11))

In [81]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
nums[-1]

10

Yuqoridagi usulni sonli indeksga ega `Series` ma'lumot tuzilmasiga qo'llab ko'ramiz:

In [89]:
nums = pd.Series(np.arange(10.))

In [90]:
nums

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [91]:
nums[-1]

KeyError: ignored

Ko'rib turganingizdek bu usul raqamli indekslar bilan ishlamas ekan. Agar indesklar raqamli emas, matn bo'lsachi?

In [94]:
num = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])

In [95]:
num

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [96]:
num[-1]

4.0

Bu holda esa xato yo'q. 

Muammoning yechimi doimo `.loc` yoki `.iloc` parametrlaridan foydalanish

In [97]:
nums

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [98]:
nums.iloc[-1]

9.0

In [99]:
nums[-1]

KeyError: ignored

In [100]:
nums.iloc[2]

2.0

In [101]:
num.loc['a']

0.0

In [102]:
num.loc['c']

2.0

In [103]:
num.iloc[3]

3.0

In [104]:
num.iloc[-3]

2.0